#main .bx-auth .alert.small{
	text-transform: lowercase;
	margin-bottom: 0px;
	margin-top: 12px;
	max-width: 100%;
	padding: 12px;
	width: auto;
}

#main .bx-auth .alert.small:first-letter{
	text-transform: capitalize;
}

#main .bx-auth .bx-auth-form-line{
	margin-top: 12px;
}

#main .bx-auth .bx-auth-change-password-link{
	margin-right: 12px;
    min-width: 212px;
}

.bx-auth .bx-auth-captha-container{
	margin-top: 12px;
}

.bx-auth .bx-auth-captha-container .bx-authform-input-container{
	line-height: 0
}

.bx-auth .bx-auth-captha-container .bx-authform-input-container input{
	line-height: normal;
}

.bx-auth .bx-auth-forgot-buttons a{
	margin-top: 12px;
}

.bx-auth input:-webkit-autofill,
.bx-auth input:-webkit-autofill:hover,
.bx-auth input:-webkit-autofill:focus,
.bx-auth input:-webkit-autofill,
.bx-auth textarea:-webkit-autofill,
.bx-auth textarea:-webkit-autofill:hover,
.bx-auth textarea:-webkit-autofill:focus,
.bx-auth select:-webkit-autofill,
.bx-auth select:-webkit-autofill:hover,
.bx-auth select:-webkit-autofill:focus{
	background-color: #f3f3f3 !important;
	-webkit-box-shadow: 0 0 0 30px #f3f3f3 inset !important;
}

@media screen and (max-width: 600px){

	.bx-auth .alert-success-item{
		margin-top: 12px;
	}

	.bx-auth .alert-success-item{
		display: inline-block;
	}

	#main h1{
		margin-bottom: 12px;
	}

	#authMenu{
		display: none;
	}

}

@media screen and (max-width: 400px){

	.bx-auth .bx-auth-forgot-buttons a{
		padding-right: 12px;
		padding-left: 12px;
	}

}