.bx-authform input:-webkit-autofill,
.bx-authform input:-webkit-autofill:hover,
.bx-authform input:-webkit-autofill:focus,
.bx-authform input:-webkit-autofill,
.bx-authform textarea:-webkit-autofill,
.bx-authform textarea:-webkit-autofill:hover,
.bx-authform textarea:-webkit-autofill:focus,
.bx-authform select:-webkit-autofill,
.bx-authform select:-webkit-autofill:hover,
.bx-authform select:-webkit-autofill:focus{
	background-color: #f3f3f3 !important;
	-webkit-box-shadow: 0 0 0 30px #f3f3f3 inset !important;
}

@media screen and (max-width: 600px){

	#main h1{
		margin-bottom: 12px;
	}

	#authMenu{
		display: none;
	}

}
