@font-face{
    font-display: swap; 
    font-family: 'SegoeUIRegular';
    src: url(fonts/SegoeUI/SegoeUIRegular/SegoeUIRegular.eot);
    src: url(fonts/SegoeUI/SegoeUIRegular/SegoeUIRegular.woff) format("woff"),url(fonts/SegoeUI/SegoeUIRegular/SegoeUIRegular.ttf) format("truetype");
    font-style: normal;
}
@font-face{
    font-display: swap; 
    font-family: 'SegoeUIBold';
    src: url(fonts/SegoeUI/SegoeUIBold/SegoeUIBold.eot);
    src: url(fonts/SegoeUI/SegoeUIBold/SegoeUIBold.woff) format("woff"),url(fonts/SegoeUI/SegoeUIBold/SegoeUIBold.ttf) format("truetype");
    font-style: normal;
}
@font-face{
    font-display: swap; 
    font-family: 'SegoeUILight';
    src: url(fonts/SegoeUI/SegoeUILight/SegoeUILight.eot);
    src: url(fonts/SegoeUI/SegoeUILight/SegoeUILight.woff) format("woff"),url(fonts/SegoeUI/SegoeUILight/SegoeUILight.ttf) format("truetype");
    font-style: normal;
}