#main .bx-auth .alert.small{
	text-transform: lowercase;
    border: 1px solid #ff0000;
    background-color: #ffffff;
	margin-bottom: 0px;
	line-height: 21px;
	margin-top: 12px;
	max-width: 100%;
	padding: 12px;
	width: auto;
}

#main .bx-auth .alert.small:empty{
	display: none;
}

#main .bx-auth .alert.small *{
	background-color: transparent;
	color: #000000;
	padding: 0;
	margin: 0;
}

#main .bx-auth .alert.small:first-letter{
	text-transform: capitalize;
}

.bx-register-phone-messages{
	margin-top: 12px;
}

.bx-auth #bx_register_resend a{
    -webkit-transition: all 0.2s ease-in-out;
	border-bottom: 1px dashed #000000;
    transition: all 0.2s ease-in-out;
    font-family: "roboto_ltregular";
    text-decoration: none;
	display: inline-block;
    margin-bottom: 12px;
    font-size: 14px;
	cursor: pointer;
    color: #000000;
}

.bx-auth #bx_register_resend a:hover{
	opacity: 0.8;
}

.bx-auth #bx_register_resend a:active{
	position: relative;
	top: 1px;
}

.bx-auth p{
	margin: 0px;
}

p.bx-auth-info-message{
	margin-top: 12px;
	display: block;
}

.bx-auth .bx-auth-form-line{
	margin-top: 12px;
}

.bx-auth .bx-auth-form-line-container{
	overflow: hidden;
	width: 900px;
}

.bx-auth .bx-auth-form-line-container{
	font-size: 0;
}

.bx-auth .bx-auth-form-line-container .bx-auth-form-line{
	display: inline-block;
	vertical-align: top;
	margin-right: 24px;
	overflow: hidden;
	font-size: 14px;
	width: 420px;
}

.bx-auth .bx-auth-form-line:empty{
	display: none;
}

.bx-auth  .bx-authform-formgroup-container-line{
	margin-top: 12px;
}

.bx-auth .bx-auth-captha-container .bx-authform-input-container{
	line-height: 0
}

.bx-auth .bx-auth-captha-container .bx-authform-input-container input{
	line-height: normal;
}

#main .bx-auth input[type="text"],
#main .bx-auth input[type="password"]{
	width: 100%;
}

.bx-auth .bx-auth-form-captha-table{
	border-collapse: collapse;
	display: table;
	width: 100%;
}

.bx-auth .bx-auth-form-captha-image,
.bx-auth .bx-auth-form-captha-field{
	vertical-align: middle;
	display: table-cell;
}

.bx-auth .bx-auth-form-captha-image{
	padding-left: 12px;
	width: 180px;
}

.bx-auth .bx-auth-form-captha-field input[type="text"]{
	width: 100%;
}

.bx-auth .bx-auth-success-heading .notetext{
	color: #000000 !important;
}

.bx-auth .bx-auth-button-link{
	margin-top: 12px;
}

.bx-auth input:-webkit-autofill,
.bx-auth input:-webkit-autofill:hover,
.bx-auth input:-webkit-autofill:focus,
.bx-auth input:-webkit-autofill,
.bx-auth textarea:-webkit-autofill,
.bx-auth textarea:-webkit-autofill:hover,
.bx-auth textarea:-webkit-autofill:focus,
.bx-auth select:-webkit-autofill,
.bx-auth select:-webkit-autofill:hover,
.bx-auth select:-webkit-autofill:focus{
	background-color: #f3f3f3 !important;
	-webkit-box-shadow: 0 0 0 30px #f3f3f3 inset !important;
}

@media screen and (max-width: 1300px) and (min-width: 1024px){
	.bx-auth .bx-auth-form-line-container .bx-auth-form-line{
		width: 400px;
	}
}

@media screen and (max-width: 1270px) and (min-width: 1024px){
	.bx-auth .bx-auth-form-line-container .bx-auth-form-line{
		width: 360px;
	}
}

@media screen and (max-width: 1150px) and (min-width: 1024px){
	.bx-auth .bx-auth-form-line-container .bx-auth-form-line{
		width: 310px;
	}
}

@media screen and (max-width: 950px){
	.bx-auth .bx-auth-form-line-container .bx-auth-form-line{
		width: 380px;
	}
}

@media screen and (max-width: 860px){
	.bx-auth .bx-auth-form-line-container .bx-auth-form-line{
		width: 350px;
	}
}

@media screen and (max-width: 800px){
	.bx-auth .bx-auth-form-line-container .bx-auth-form-line{
		width: 320px;
	}
}

@media screen and (max-width: 750px){

	.bx-auth .bx-auth-form-line-container .bx-auth-form-line{
		width: 100%;
		padding: 0;
	}

	.bx-auth .bx-auth-form-captha-image,
	.bx-auth .bx-auth-form-captha-field{
		display: block;
	}

	.bx-auth .bx-auth-form-captha-image{
		padding-left: 0px;
		margin-top: 12px;
	}

}

@media screen and (max-width: 600px){

	#main h1{
		margin-bottom: 12px;
	}

	#authMenu{
		display: none;
	}

}


